{% extends "basic.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col" align="right">
            <div align="right" class="block_navigation">
                <ol class="breadcrumb">
                    <li><a href="{% url 'todo:todo_list' %}"><span class="nav_text">Your lists</span></a></li>
                    <li class="active"><span class="nav_text">{{ object.name_of_list }}</span></li>
                </ol>
            </div>
        </div>
        <h1>List {{ object.name_of_list }}: </h1>
        <hr width="30%">
        {% if object.todo_set.all %}
            <div class="table_conf" align="center">
            <table class="table table-bordered">
                <tr class="warning">
                    <th><p class="text-center">Name</p></th>
                    <th><p class="text-center">Task</p></th>
                    <th><p class="text-center">Status</p></th>
                    <th><p class="text-center">Date</p></th>
                </tr>
                {% for name in object.todo_set.all %}
                    <tr>
                        <td align="center"><a
                                href="{% url 'todo:todo_detail' object.id name.id %}">{{ name.name_of_todo }}</a></td>
                        <td align="center">{{ name.task }}</td>
                        <td align="center">{% if  name.status == True %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}</td>
                        <td align="center">{{ name.pub_date }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <span class="warning_text">In your list any tasks. Create a task using a button - "Create Todo"</span>

        {% endif %}

    </div>

        <div class="row" align="center">
            <a role="button" href="{% url 'todo:todo_list' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </a>

            <a type="button" href="{% url 'todo:create_todo' list_pk=object.id %}" class="btn btn-success"
               aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Todo
            </a>

            <a role="button" href="{% url 'todo:rename_todo_list' object.id %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Rename {{ object.name_of_list }}
            </a>

            <a role="button" href="{% url 'todo:remove_list' object.id %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete {{ object.name_of_list }}
            </a>
        </div>
    {% else %}
        <div align="center">
            <span class="warning_text">You are not authorized. Access is denied.</span>
        </div>
    {% endif %}
{% endblock content %}

