{% extends "basic.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col" align="right">
            <div align="right" class="block_navigation">
                <ol class="breadcrumb">
                    <li class="active"><span class="nav_text">Your lists</span></li>
                </ol>
            </div>
        </div>
        <h1>Your Lists:</h1>
        <hr width="30%">

        {% if user.username and todolist.count %}
            <div class="table_conf" align="center">
            <table class="table table-bordered">
                <tr class="warning">
                    <th><p class="text-center">Title List</p></th>
                    <th><p class="text-center">Date</p></th>
                    <th><p class="text-center">Number of todo</p></th>
                </tr>

                {% for name in todolist %}
                    <tr>
                        <td align="center"><a href="{% url 'todo:todos' name.id %}">{{ name.name_of_list }}</a></td>
                        <td align="center">{{ name.pub_date }}</td>
                        <td align="center"><span class="badge">{{ name.count_tasks }}</span></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <span class="warning_text">No list are available</span>
        {% endif %}
    </div>

        <div class="block_button" align="center">
            <a role="button" href="{% url 'todo:create_list' %}" class="btn btn-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a list
            </a>
        </div>
    {% else %}
        <div align="center">
            <span class="warning_text">You are not authorized. Access is denied.</span>
        </div>
    {% endif %}
{% endblock content %}
