<head>
    <meta charset="utf-8">
    <link rel=stylesheet href=/static/style.css type=text/css>
    <style>
        table {
            margin: auto; /* Выравниваем таблицу по центру окна  */
        }
    </style>
</head>
{% block body %}
<h2>Create a file with parameters.
    <p>The name of the settings file and the picture will be the same</h2>
<form action="create_file" method=post>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

    <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td align="right" width="200">Enter the name of file:</td>
            <td><input type=text name=file_name class=urlinput></td>
        </tr>
        <tr>
            <td>
            <td><input type=submit value="Create"></td>
        </tr>
    </table>
</form>
{% endblock %}