<head>
    <meta charset="utf-8">
    <link rel=stylesheet href=/static/style.css type=text/css>
</head>
{% block body %}
<h2>Enter start parameters:</h2>
<form action="draw" method=post>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td align="right" width="100">Type:</td>
            <td><select name="type">
                <option value="c">Circle</option>
                <option value="p">Polygon</option>
                <option value="t">Triangle</option>
            </select></td>

            <!--<td><input type=text name=type class=urlinput></td>-->
        </tr>
        <tr>
            <td align="right" width="100">Size:</td>
            <td><input type=text name=size class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Coord_x:</td>
            <td><input type=text name=x_coord class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Coord_y:</td>
            <td><input type=text name=y_coord class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Color:</td>
            <td><select name="color">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="brown">Brown</option>
                <option value="orange">Orange</option>
                <option value="purple">Purple</option>
                <option value="pink">Pink</option>
            </select></td>
        </tr>
        <tr>
            <td align="right" width="150">Number of angles:</td>
            <td><input type=text name=count_of_angle class=urlinput></td>
        </tr>
        <p>
            <tr>
                <td>
                <td><input type=submit value="Draw"></td>
            </tr>

    </table>
    <p>Your image:</p>
    {% if my_img %}
    <center><img src="{{my_img}}"></center>
    {% endif %}
</form>
{% endblock %}