{% load bootstrap3 %}
{% bootstrap_css %}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Lists</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}"/>
</head>
<div class="block_header" align="right">
    {#    <a role="button" href="{% url 'todo:home' %}" class="btn btn-default" aria-label="Left Align">#}
    {#        <span class="glyphicon glyphicon-home"></span> Home</a>#}
    {% if user.is_authenticated %}
        <a role="button" href="{% url 'loginsys:logout' %}" class="btn btn-default" aria-label="Left Align">Logout
            <em>{{ user.username }}</em></a>
    {% else %}

    {% endif %}
</div>
<body>
<div class="block_main">
    {#    <img src="main/main.jpg"/>#}
    <span class="home_information">
        <h2>Welcome, dear guest</h2>
    </span>

    <div id="main_page">
    <span class="home_information">
        You are on the website create personal tasks. To use the site you need to register or login.
    </span>

        <p></p>
        <a role="button" href="{% url 'loginsys:login' %}" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-log-in"></span> Log in</a>
        <a role="button" href="{% url 'loginsys:register' %}" class="btn btn-info" aria-label="Left Align">
            Registration</a>
    </div>
</div>
</body>
</html>