{% extends "basic.html" %}
{% block content %}
    {% load bootstrap3 %}
    {% if user.is_authenticated %}
        <div class="col" align="right">
        <div align="right" class="block_navigation">
            <ol class="breadcrumb">
                <li><a href="{% url 'todo:todo_list' %}"><span class="nav_text">Your lists</span></a></li>
                <li><span class="nav_text">{{ object.todo_list }}</span></li>
                <li><span class="nav_text">{{ object.name_of_todo }}</span></li>
                <li class="active"><span class="nav_text">Edit task</span></li>
            </ol>
        </div>
        <h1>Edit task</h1>
    {% endif %}
<hr width="30%">
<div class="block1" align="center">

    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Unable to add new task. Please, fix errors listed below.</p>
        </div>
    {% endif %}

    <form method="post" action="">
        {% if user.is_authenticated %}
            {% bootstrap_form form %}
            {% csrf_token %}
            <a role="button" href="{% url 'todo:todo_detail' object.todo_list.id object.id %}"
               class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </a>
            <button type="submit" class="btn btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Edit
            </button>
        {% else %}
            <span class="warning_text">You are not authorized. Access is denied.</span>
        {% endif %}
    </form>

</div>
</div>
{% endblock content %}