<!doctype html>
<title>{% block title %}{% endblock %} | shortly</title>
<link rel=stylesheet href=/static/style.css type=text/css>
<div class=box>
    <h1><a href=/>shortly</a></h1>

    <p class=tagline>Shortly is a URL shortener written with Werkzeug
        {% block body %}{% endblock %}
</div>