{% extends "basic.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="col" align="right">
        <div align="right" class="block_navigation">
            <ol class="breadcrumb">
                <li class="active"><span class="nav_text">Registration</span></li>
            </ol>
        </div>
    </div>
    <div class="block1" align="center">
        <form action="" method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" aria-label="Left Align">
                Sign up
            </button>
        </form>
    </div>
{% endblock content %}
