<head>
	 <meta charset="utf-8">
	 <link rel=stylesheet href=/static/style.css type=text/css>
</head>
{% block title %}Test{% endblock %}
{% block body %}
<h2>Enter start parameters:</h2>
<form action="" method=post>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td align="right" width="100">Type:</td>
            <td><input type=text name=type value="{{ type }}" class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Size:</td>
            <td><input type=text name=size value="{{ size }}" class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Coord_x:</td>
            <td><input type=text name=x_coord value="{{ x_coord }}" class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Coord_y:</td>
            <td><input type=text name=y_coord value="{{ y_coord }}" class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="100">Color:</td>
            <td><input type=text name=color value="{{ color }}" class=urlinput></td>
        </tr>
        <tr>
            <td align="right" width="150">Number of angles:</td>
            <td><input type=text name=count_of_angle value="{{ count_of_angle }}" class=urlinput></td>
        </tr>
        <p>
            <tr>
                <td>
                <td><input type=submit value="Draw"></td>
                <td><input type="reset" value="Reset"></td>
            </tr>
    </table>
</form>
{% endblock %}